.App {
  text-align: center;
}

.App-header {
  background-color: #CCCC00;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2em;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.dish {
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  margin: 30px 10px;
}

h3 {
  font-size: 1.5em;
  color: rgb(209, 46, 17);
  height: 35px;
  background: rgba(163, 97, 97, 0.534);
  margin-top: 0px;
}

button {
  margin-top: 30px;
}